<head>
  <style>
   span {
       margin:5.5 auto;
   }
   .tax_del, .godown_del{
       color:#000000;
   }
   #errors.td
   {
    font-weight: normal !important;
   }
  </style>
</head>
<body>
  <div class="container-fluid " style="padding:1 !important; margin:0 !important;" >
    <div class=' addprod panel'>
      <input value="{{vatorgstflag}}" id="vatorgstflag" hidden>

      <div class="panel-body" id="addproductpanelboody">
        <div class="col-md-12">
          {% if not extrabuttons %}
            <div class="alert alert-success" id="addproduct-success-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Product saved successfully and corresponding accounts created.{% endtrans %}
            </div>

	    <div class="alert alert-success" id="addservice-success-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Service saved successfully and corresponding accounts created.{% endtrans %}
            </div>

            <div class="alert alert-success" id="editproduct-success-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Product and corresponding accounts edited successfully.{% endtrans %}
            </div>
            <div class="alert alert-success" id="editservice-success-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Service and corresponding accounts edited successfully.{% endtrans %}
            </div>
            <div class="alert alert-success" id="deleteproduct-success-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Product deleted successfully.{% endtrans %}
            </div>
            <div class="alert alert-success" id="deleteservice-success-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Service deleted successfully.{% endtrans %}
            </div>
            <div class="alert alert-danger" id="duplicate-unit-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}This unit exists. Please select it from the list.{% endtrans %}
            </div>
            <div class="alert alert-danger" id="duplicateproducterror-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Duplicate Product / Service.{% endtrans %}
            </div>
            <div class="alert alert-danger" id="igst-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Please Specify IGST tax.{% endtrans %}
            </div>
	    
            <!-- <div class="alert alert-info" id="nocategory-alert"  aria-live="rude" role="alert" hidden>

                 {% trans %}You can create products under categories.{% endtrans %}
                 </div> -->
            <div class="alert alert-danger" id="item-blank-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Please select Item!{% endtrans %}
            </div>
            <div class="alert alert-danger" id="product-name-blank-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Please enter product name!{% endtrans %}
            </div>
            <div class="alert alert-danger" id="hsnno-blank-alert"  aria-live="rude" role="alert" hidden>
              {% trans %}HSN No. cannot be blank.{% endtrans %}
            </div>
	    <div class="alert alert-danger" id="hsnno-must-be-positive"  aria-live="rude" role="alert" hidden>
	      {% trans %}HSN No. cannot be zero.{% endtrans %}
	    </div>
            <div class="alert alert-danger" id="serviceno-blank-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Services Accounting Code cannot be blank.{% endtrans %}
            </div>
            <div class="alert alert-danger" id="service-name-blank-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Service name cannot be blank.{% endtrans %}
            </div>
            <div class="alert alert-danger" id="os-blank-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}<b>Opening Stock</b> is blank. Please enter <b>0.00</b> if you have no opening stock.{% endtrans %}
            </div>
            <div class="alert alert-warning" id="godown-same-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Please select a different godown.{% endtrans %}
            </div>
            <div class="alert alert-danger" id="date-alert"  aria-live="rude" role="alert" hidden>

              <label for="vno">{% trans %}Please enter date in proper format!{% endtrans %}</label>
            </div>
            <div class="alert alert-danger" id="tax-same-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}This tax has already been applied.{% endtrans %}
            </div>
            <div class="alert alert-danger" id="tax-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Please Specify Tax for Product.{% endtrans %}
            </div>
	    <div class="alert alert-danger" id="tax-service-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Please Specify Tax for Service.{% endtrans %}
            </div>
            <div class="alert alert-danger" id="cvat-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}CVAT/IGST can be applied only once.{% endtrans %}
            </div>
	    <div class="alert alert-danger" id="edit_cvat-alert"  aria-live="rude" role="alert" hidden>

	      {% trans %}CVAT can be applied only once.{% endtrans %}
	    </div>
            <div class="alert alert-danger" id="uomblank-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Please select the unit of measurement.{% endtrans %}
            </div>
            <div class="alert alert-danger" id="tax-duplicate-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Duplicate Tax!{% endtrans %}
            </div>
            <div class="alert alert-danger" id="no-godown-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}There are no more godowns!{% endtrans %}
            </div>
            <div class="alert alert-danger" id="failure-delete-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Cannot delete Product!{% endtrans %}<br>
            </div>
	    <div class="alert alert-danger" id="failure-service-delete-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Cannot delete Service!{% endtrans %}<br>
            </div>
	    <div class="alert alert-danger" id="tax-rate-blank-alert"  aria-live="rude" role="alert" hidden>

              {% trans %}Tax rate must not be empty or zero!{% endtrans %}<br>
            </div>
            {% endif %}
          </div>
        <form id="addprodform">
          <div class="col-sm-6" >
	    {% if userrole|int != 3 %}
              <div class="row" id="serviceproductdiv">
	    {% else %}
		<div class="row" hidden id="serviceproductdiv">
	    {% endif %}
	    <div class="form-group form-inline  pd">
				<div class="col-sm-3">
	      <label for="additem">{% trans %}Item Type{% endtrans %} :</label><label for="additem" style="color:red;font-size: 120%;">*</label>
			</div>
				<div id="additem" class="col-sm-4">
					<div class="radio">
						<label><input type="radio" name="selector" value="7" checked> Product</label>
					<!-- </div>
					<div class="radio" style="margin-left:15px" > -->
						<label><input type="radio" name="selector" value="19"> Service</label>
					</div>
							</div>

	    </div>
            </div>
            <div class="row productclass">

	      {% if not gkresult["category"] %}

		<div class="form-group col-sm-11" >
		  <small id="txtareahelp" class="form-text text-muted common">{% trans %}If you want to put this product under a category/sub-category, you must create a category first.{% endtrans %}</small>
		  </div>
		{% else %}
		  <input value="1" id="catg" hidden>
		  <div class="form-group col-sm-11 productclass" id="categorydiv">
                    <label class="" for="addcatselect">{% trans %}Select Category{% endtrans %} :</label>
                    <select class = "form-control input-sm"  name = "catselect" id="addcatselect" >
                      <option value="" selected >{% trans %}None{% endtrans %}</option>
                      {% for cat in gkresult["category"] %}
			<option value="{{cat['categorycode']}}">{{cat["categoryname"]}}({{cat["subcount"]}})</option>
                      {% endfor %}
                    </select>
		    <small id="txtareahelp" class="form-text text-muted productclass">{% trans %}If you want to put this product under a category/sub-category, you must create/select a category first.{% endtrans %}</small>
		  </div>
		{% endif %}
              </div>

	      <div class="row">
              <div class="form-group col-sm-11 pd ">
                <label for="addproddesc" class="common" id="proservlabel"></label><label for="addproddesc" class="common" style="color:red;font-size: 120%;">*</label>
                <input type='text' class="form-control input-sm common" name="addproddesc"  id="addproddesc" placeholder="Alphanumeric">
              </div>
	      </div>
	      <div class="row">
		{# {%if vatorgstflag=='7' or vatorgstflag=='29'%} #}
		  {# <div class="col-md-5">
		    <div class="form-group pd ">
                      <label for="addproddesc" class="common" id="gscodelabel" >{% trans %}HSN code{% endtrans %} :</label><label for="gscode" class="common" ></label>
		                       <input type='text' class="form-control input-sm common numtype hsn" name="gscode"  id="hsnno" placeholder="e.g. 0101 21 00">
		    </div>
		  </div> #}
		  {# <div class="col-md-offset-1 col-md-5 productclass"> #}
		{# {% else %} #}
		    <div class="col-md-11 productclass">
	      {# {% endif %} #}
              <div class="form-group pds olduom">
                <label for="uom" class="">{% trans %}Unit of Measurement{% endtrans %} :</label><label for="uom" style="color:red;font-size: 120%;">*</label>
                <select class = "form-control input-sm sel productclass"  name = "uom" id="adduom" aria-describedby="txtareahelp">
                  <option value="" disabled selected hidden>{% trans %}Select Unit of Measurement{% endtrans %}</option>
                  {% for uom in gkresult["uom"] %}
                    <option value="{{uom['uomid']}}" uname="{{uom["unitname"]}}">{{uom["unitname"]}} {% if uom["description"] != None %} ({{ uom["description"] }}){% endif %}</option>
                  {% endfor %}
                </select>

                <small id="txtareahelp" class="form-text text-muted">{% trans %}Press Space Bar to add a new Unit of Measurement.{% endtrans %}</small>
              </div>
              <div class="form-group pds newuom" hidden>
                <label for="newuom" class="productclass"  style="font-size:13px">{% trans %}New Unit of Measurement{% endtrans %} :</label>
                <input type='text' class="form-control input-sm productclass" name="newuom"  id="newuom" placeholder="Name of the new unit" aria-describedby="textareahelp">
                <small id="textareahelp" class="form-text text-muted">{% trans %}Press 'Enter' key to save and 'Esc' key to cancel.{% endtrans %}</small>
              </div>
            </div>
		  </div>
      
		  <div class="row">
		    <div class="form-group col-sm-5">
                      <label for="maxprice" class="common" id="maximumprice">{% trans %}MRP{% endtrans %}:</label>
                      <input type='text' class="form-control text-right input-sm common numtype" name="prodmrp"  id="maxprice" maxlength="13" value="0.00">
		    </div>
		    <div class="form-group col-sm-offset-1 col-sm-5">
                      <label for="saleprice" class="common" id="defaultprice">{% trans %}Sale Price{% endtrans %}:</label>
                      <input type='text' class="form-control text-right input-sm common numtype" name="prodsp"  id="saleprice" maxlength="13" value="0.00">
		    </div>
		  </div>
                  <div class="row">
		    <div class="form-group col-sm-5">
                      <label for="amountdiscount" class="common">{% trans %}Discout Amount{% endtrans %}:</label>
                      <input type='text' class="form-control text-right input-sm common numtype" id="amountdiscount" maxlength="13" value="0.00" name="amountdiscount">
		    </div>
		    <div class="form-group col-sm-offset-1 col-sm-5">
                      <label for="percentdiscount" class="common">{% trans %}Discount Percent(%){% endtrans %}:</label>
                      <input type='text' class="form-control text-right input-sm common numtype" name="percentdiscount"  id="percentdiscount" maxlength="13" value="0.00">
		    </div>
		  </div>
	  </div>
          <div class="col-sm-6 common" id="rightdiv">
	    <div class="row" style="margin-bottom: 2%;">
	      <i class="fa fa-question-circle pull-right" style="font-size:16px;color:black;"data-toggle="modal" data-target="#CatModal"></i>
	    </div>
	    <div class="row productclass" id="specdiv" hidden>
            </div>

	    {# {% if userrole|int != 3 %} #}
            <div class="row">
              <div class="form-group taxclass">
		<div class="alert alert-danger" id="tax-name-blank-alert"  aria-live="rude" role="alert" hidden>

                  {% trans %}Please Specify Tax Name.{% endtrans %}
                </div>
		<div class="alert alert-danger" id="tax-rate-blank-alert"  aria-live="rude" role="alert" hidden>

                  {% trans %}Please Specify Tax Rate.{% endtrans %}
                </div>
		<div class="alert alert-warning nopadding" id="gstrateEdit"  aria-live="rude" role="alert" hidden>
		  <strong>{% trans %}Please edit 'GST' rate!{% endtrans %}</strong>
		</div>
                <div class="panel taxclass table-responsive">
		  <table id="product_tax_table" class="table table-responsive table-condensed table-bordered fixed-table common">
                    <thead class="bg-primary input-sm">
                      <tr>
			<th class="col-xs-4 text-center" style="width:175px">{% trans %}Tax Name{% endtrans %}</th>
			<th class="col-xs-4 text-center"style="width:175px">{% trans %}State{% endtrans %}</th>
			<th class="col-xs-2 text-center"style="width:175px">{% trans %}Rate %{% endtrans %}</th>
			<th class="col-xs-1"style="width:50px"></th>
			<th class="col-xs-1" style="width:50px"></th>
                      </tr>
                    </thead>
                    <tbody style="height:30%">
                      <tr>
			<td class="col-xs-4"style="width:175px">
			  <select class="form-control input-sm tax_name product_new_name">
			    <option value="" hidden disabled selected>Select Tax</option>
			    {%if vatorgstflag=='7' or vatorgstflag=='29' %}
                              <option value="IGST">GST</option>
                              <option value="CESS">CESS</option>
                            {%endif%}
                            <option value="VAT">VAT</option>
                              <option value="CVAT">CVAT</option>
			  </select>
			</td>
			<td class="col-xs-4"style="width:175px">
			  <select class="form-control input-sm tax_state product_new_state" >
			    <option value="" hidden disabled selected>Select State</option>
                            {% for state in states %}
                              {% for key, value in state.items() %}
                                <option value="{{value}}" stateid="{{key}}">{{value}}</option>
                              {% endfor %}
                            {% endfor %}
                          </select>
                        </td>
                        <td class="col-xs-2"style="width:175px">
			  <input class="form-control input-sm tax_rate_all text-right product_new_rate numtype"  value="0.00">
			  <select hidden class="form-control input-sm tax_rate_gst product_new_rate" >
			    {#<option value="" hidden disabled selected>Select Rate</option>#}
			    <option value="5" class="text-right">5</option>
                            <option value="12" class="text-right">12</option>
			    <option value="18" class="text-right">18</option>
                            <option value="28" class="text-right">28</option>
                          </select>
			</td>
			<td class="col-xs-1"style="width:50px">
			  <div style="text-align: center;">
			    <span class="glyphicon glyphicon glyphicon-plus addbtn"></span>
			  </div>
			</td>
			<td class="col-xs-1"style="width:50px">
			  <div style="text-align:center;">
			    <a href="#" class="tax_del"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
			  </div>
			</td>
                      </tr>
                    </tbody>
		  </table>
		</div>
                <small id="taxhelp4" class="form-text text-muted common">Press 'Insert' key from anywhere on the screen to save changes.</small>
                <div class="collapse" id="moresmall">
                  <small id="taxhelp2" class="form-text text-muted ">Press 'Ctrl + >' to move forward or 'Ctrl + <' to move backward within a row in a table.</small><br>
                  <small id="taxhelp" class="form-text text-muted">Press 'Shift + <' to move backward within a Column in a table.</small>
		  {% if not godown %}
                    <small  class="form-text text-muted productclass">When on Tax Rate or Tax Name, Press 'Esc' key to shift focus to Opening Stock and from Opening Stock to 'Save' button.</small>
                  {% else %}
                    <small  class="form-text text-muted " id="godownmsg">When on Tax Rate or Tax Name, Press 'Esc' key to shift focus to Opening Stock and from Opening Stock to 'Save' button.</small>
                  {% endif %}
		  <small  class="form-text text-muted serviceclass"> When on Tax Rate or Tax Name, Press 'Esc' key to shift focus to Opening Stock and from Opening Stock to 'Save' button.</small>
                </div>
                <a data-toggle="collapse" id="smalllink" href="#moresmall">See more.<span class="glyphicon glyphicon-triangle-bottom"></span></a>
              </div>
	      <!--
		   <div class="panel col-xs-8 igsttax nopadding" hidden>
		   <table id="igst_tax_table" class="table table-condensed table-bordered">
                   <thead class="bg-primary input-sm">
		   <tr>
		   <th class="col-xs-6 text-center">{% trans %}Tax Name{% endtrans %}</th>

		   <th class="col-xs-6 text-center">{% trans %}Rate %{% endtrans %}</th>

		   </tr>
                   </thead>
		   <tbody>
		   <tr>
		   <td class="col-xs-6 text-center" style = "vertical-align:middle; font-weight: normal; font-size:90%;" >
		   {% trans %}IGST{% endtrans %}
		   </td>
		   <td class="col-xs-6">
		   <input class="form-control input-sm tax_rate text-right product_new_rate numtype" id ="igstrate"  placeholder="Rate" value="0.00">
		   </td>
		   </tr>
		   </tbody>

		   </table>
		   </div>
		 -->

            </div>
	    {# {% endif %} #}
      <div class="row ">
          <div class="row ">
		        <div class="form-group col-md-6 ">

          <label for="addproddesc" class="common" id="gscodelabel" >{% trans %}HSN code{% endtrans %} :</label><label for="gscode" class="common" ></label><label for="addproddesc" class="common" id="gscodes" style="color:red;font-size: 120%;"></label>
		          <input type='text' class="form-control input-sm common numtype hsn" name="gscode"  id="hsnno" placeholder="e.g. 0101 21 00">
		        
            </div>
		      </div>
        
        {%if vatorgstflag=='7' or vatorgstflag=='29'%}
        <div class="row noinventory">
        {%endif%}
		    {% if not godown %}
        <div class="productclass">
		      <div id="newgodownadded" hidden>
            <div class="form-group">
              <input type="checkbox" name="godownflag" id="godownflag" value=0></input>
              <input type="text" id="godownpresence" value="0" hidden>
          <label class="" for="godownflag">{% trans %}Godown Wise Opening Stock{% endtrans %}</label>
		        </div>
            <div  id="openingstockdiv" class="form-group" hidden>
		          <div class="alert alert-danger" id="godown-blank-alert"  aria-live="rude" role="alert" hidden>
			        {% trans %}Please select a godown.{% endtrans %}
		          </div>
              <div class="panel">
			          <table id="godown_ob_table" class="table table-condensed table-bordered fixed-table">
			            <thead class="bg-primary input-sm">
                    <tr>
                      <th class="col-xs-7 text-center">{% trans %}Godown{% endtrans %}</th>
                      <th class="col-xs-3 text-center">{% trans %}Opening Stock{% endtrans %}</th>
                      <th class="col-xs-1"></th>
			              <th class="col-xs-1"></th>
                    </tr>
			            </thead>
			            <tbody>
                    <tr>
                      <td class="col-xs-7">
				                  <select class="form-control input-sm godown_name">
				                <option value="" disabled hidden selected>Select Godown</option>
				                {% for record in godown %}
				                <option value="{{record["goid"]}}">{{record["goname"]}}({{record["goaddr"]}})</option>
				                {% endfor %}
				                  </select>
                      </td>
                      <td class="col-xs-3">
				                <input class="form-control input-sm godown_ob text-right numtype" value="0.00">
                      </td>
                      <td class="col-xs-1">
				                <div style="text-align: center;">
				                  <span class="glyphicon glyphicon glyphicon-plus goaddbtn">
				                </div>
                      </td>
			                <td class="col-xs-1">
				                <div style="text-align:center;">
				                  <a href="#" class="godown_del"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
				                </div>
			                </td>
                    </tr>
			            </tbody>
			          </table>
              </div>
            </div>
		      </div>
		      <div id="nogodown">
		        <div class="form-group pds col-sm-6">
              <label for="openingstock" class="">{% trans %}Opening Stock{% endtrans %} :</label>
              <div class="input-group"> 
			            <input type='text' class="form-control text-right input-sm numtype" name="openingstock"  id="openingstock" value="0.00" aria-describedby="unitaddon">
			            <span class="input-group-addon input-sm" id="unitaddon"></span>
              </div>
		        </div>
		      </div>
		    {% else %}
		      {% if userrole|int != 3 %}
		      <div class="form-group col-sm-12">
            <input type="checkbox" name="godownflag" id="godownflag" value=0></input>
		        <input type="text" id="godownpresence" value="1" hidden="">
		        <label class="" for="godownflag">{% trans %}Godown Wise Opening Stock{% endtrans %}</label>
		      </div>
		      <div id="nogodown" class="form-group pds col-sm-6 noinventory">
		        <label for="openingstock" class="">{% trans %}Opening Stock{% endtrans %} :</label>
		        <div class="input-group">
			      <input type='text' class="form-control text-right input-sm numtype" name="openingstock"  id="openingstock" value="0.00" aria-describedby="unitaddon">
			      <span class="input-group-addon input-sm" id="unitaddon"></span>
		      </div>
		    </div>
		    <div  id="openingstockdiv" class="form-group col-sm-12" hidden>
		      {% else %}
		      <input type="hidden" name="godownflag" id="godownflag" value="1"></input>
		      <input type="text" id="godownpresence" value="1" hidden>
		      <div  id="openingstockdiv" class="form-group col-sm-12">
		      {% endif %}
		        <div class="alert alert-danger" id="godown-blank-alert"  aria-live="rude" role="alert" hidden>
		        {% trans %}Please select a godown.{% endtrans %}
		        </div>
		        <div class="panel">
              <table id="godown_ob_table" class="table table-condensed table-bordered fixed-table">
		            <thead class="bg-primary input-sm">
			            <tr>
                    <th class="col-xs-7 text-center">{% trans %}Godown{% endtrans %}</th>
                    <th class="col-xs-3 text-center">{% trans %}Opening Stock{% endtrans %}</th>
                    <th class="col-xs-1"></th>
                    <th class="col-xs-1"></th>
			            </tr>
		            </thead>
		            <tbody style="height:30%">
			            <tr>
			              <td class="col-xs-7">
                      <select class="form-control input-sm godown_name">
			                <option value="" disabled hidden selected>Select Godown</option>
			                {% for record in godown %}
				              <option value="{{record["goid"]}}">{{record["goname"]}}({{record["goaddr"]}})</option>
			                {% endfor %}
                      </select>
			              </td>
			              <td class="col-xs-3">
                      <input class="form-control input-sm godown_ob text-right numtype" value="0.00">
			              </td>
			              <td class="col-xs-1">
			                <div style="text-align: center;">
			                    <span class="glyphicon glyphicon glyphicon-plus goaddbtn">
			                </div>
			              </td>
			              <td class="col-xs-1">
                      <div style="text-align:center;">
                        <a href="#" class="godown_del"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                      </div>
			              </td>
			            </tr>
			          </tbody>
              </table>
		        </div>
		      </div>
		    {% endif %}
        </div>
      </div>
      </div>
    </div>
  </div>
	</form>
<div class="btn-group-sm panel-footer">
	  <div class="container-fluid">
            {% if extrabuttons %}
              <button class="btn btn-success btn-sm common" id="apsubmit" name="submit" accesskey="s" data-toggle="tooltip" data-placement="top" title="Press Insert key anywhere on the screen to save" title="Please enter aleast two digit positive number" ><i class="fa fa-floppy-o" aria-hidden="true"></i> {% trans %}<u>S</u>ave{% endtrans %}</button>
            <button id="apreset" class="btn btn-warning btn-sm common" accesskey="e"><i class="fa fa-refresh" aria-hidden="true"></i> {% trans %}R<u>e</u>set{% endtrans %}</button>
	    {% if userrole|int != 3 %}
              <button id="addgodown" class="btn btn-info btn-sm productclass" accesskey="a" style="display:none"><i class="fa fa-plus" aria-hidden="true"></i> {% trans %}<u>A</u>dd Godown{% endtrans %}</button>
	      
	    {% endif %}
	    {%if userrole|int==3%}
              <button class="btn btn-primary btn-sm stockfield" type="button" id="prostock"  data-toggle="modal" data-target="#addstockmodal"><i class="fa fa-plus" aria-hidden="true"></i> {% trans %}Add Stock{% endtrans %}</button>
	    {% endif %}
            {% else %}
            <button class="btn btn-success btn-sm common" id="apsubmit" name="submit" data-toggle="tooltip" data-placement="top" title="Press Insert key anywhere on the screen to save" title="Please enter aleast two digit positive number" ><i class="fa fa-floppy-o" aria-hidden="true"></i> {% trans %}Save{% endtrans %}</button>
            <button id="apreset" class="btn btn-warning btn-sm common"><i class="fa fa-refresh" aria-hidden="true"></i> {% trans %}Reset{% endtrans %}</button>
            {% endif %}
            

            <label class="btn btn-primary btn-sm" for="my-file-selector">
                    <input name="spreadsheet" accesskey="o" class="input-sm" id="my-file-selector" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" style="display:none;" type="file">
                    <i class="fa fa-download" aria-hidden="true"></i> Imp<u>o</u>rt
                  </label>
              <i class="fa fa-question-circle" style="font-size:16px;color:black;"data-toggle="modal" data-target="#ImportHelpModal"></i>
        </div>
      </div>
      <div id="confirm_yes_print" class="modal" tabindex="-1" role="dialog">
            <div class="vertical-alignment-helper">
              <div class="modal-dialog modal-sm vertical-align-center">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">{% trans %}Import{% endtrans %}</h4>
                  </div>
                  <div class="modal-body">
            <span id="upload-file-info"></span><br><br>
                    <p>{% trans %}Are you sure?{% endtrans %}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" id ="tn_save_noprint" class="btn btn-warning" data-dismiss="modal">{% trans %}<i class="fa fa-times" aria-hidden="true"></i> No{% endtrans %}</button>
                    <button type="button" id="tn_save_yesprint" data-dismiss="modal" class="btn btn-success">{% trans %}<i class="fa fa-check" aria-hidden="true"></i> Yes{% endtrans %}</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div>
          </div>
          <div id="error_print_modal"  tabindex="-1" class="modal fade " role="dialog"style="width:95%; margin-top: 10px;"  aria-hidden="true">
      <div class="modal-dialog bgcolor " style="width:100%;" >
          <div class="modal-content ">
            <div class="modal-header">
                {% trans %}<strong>Error occured during product import</strong>{% endtrans %}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
          </div>
              <div class="modal-body" style="text-align: justify; text-justify: inter-word;height: 500px;overflow: auto;">
                <strong id="errormsg"></strong>

                <table class ="table table-bordered">
                  <thead >
                  <tr>
                  <th>Row No.</th>
                  <th>product name</th>
                  <th>HSN/SAC Code</th>
                  <th>Unit of Measurement</th>
                  <th>Mrp / Maximum Rate</th>
                  <th>Sale Price / Default Rate</th>
                  <th>Discout Amount</th>
                  <th>Discount Percent(%)</th>
                  <th>Tax</th> 
                  <th>State</th>
                  <th> Rate</th>
                  <th>Godown</th>
                  <th>Opening Stock</th>
                  </tr>
                  </thead>
                  <tbody id="errors">
                  </tbody>
                </table>
              </div>
          </div>
      </div>
          </div>
          <div id="ImportHelpModal"  tabindex="-1" class="modal fade " role="dialog"style="width:90%; margin-top: 30px;"  aria-hidden="true">
            <div class="modal-dialog bgcolor " style="width:100%;" >
              <div class="modal-content ">
                <div class="modal-header">
                  {% trans %}<strong>Import Instructions</strong>{% endtrans %}
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="text-align: justify; text-justify: inter-word;">
                  <p>
                    <font color="#566573">{% trans %}
                      <b>Please read and follow the instructions carefully for smooth and flawless Product data import.</b><br>
                      To import products/services in GNUKhata a certain format is necessary.<br>
                      A downloadedable sample spreadsheet is available below.<br>
                      <b>Please maintain column names in following order:</b><br>
                      Product Name(A1), HSN Code(B1), Unit Of Measurement(C1), Mrp / Maximum Rate(D1), Sale Price / Default Rate(E1), Discout Amount(F1), Discount Percent(%)(G1), Tax(H1), State(I1), Rate(J1), Godown(K1), Opening Stock(L1) <br>
            <b>Note :</b> <br>1.Unit of Measurement(C) field should be blank for services.<br>
                           2.For godown wise opening stock enter already created godown name in Godown(I) field, otherwise keep it blank.<br>
            <br><b>States should be in following format:</b><br>
            {%endtrans %}
            {% for state in states %}
                {% for key, value in state.items() %}
                {{value}},
                {% endfor %}
            {% endfor %}<br><br>
            <b>List of Unit Of Measurements:</b><br>
            {% for u in uom %}
              {{u["description"]}},
            {% endfor %}<br><br>
	    <b>Taxes:</b><br>
	    Please keep the following in mind while giving taxes.
	    <ul>
	      <li>Tax Name must be one among these - GST, VAT, CVAT</li>
	      <li>If Tax Name is GST, then Rate must be one among these - 5, 12 , 18 , 28.</li>
	      <li>Only one entry per product is allowed for GST and CVAT.</li>
	      <li><b>Please do not enter "0" as tax rate. If your product is tax free then do not give anything under Tax Name, State and Rate.</b></li>
	    </ul>
            {% trans %}
            <b>Sample Spreadsheet Format for Product Import: </b><br>
            {% endtrans %}
            <font color="#008000">{% trans %}
            Product_Import_Sample_Spreadsheet.xlsx
            {% endtrans %}
            </font>
            <a href="../static/spreadsheets/Product_Import_Sample_Spreadsheet.xlsx" download="Product_Import_Sample_Spreadsheet.xlsx">
            <i id="SampleSheet" class="fa fa-download btn btn-sm" aria-hidden="true" style="color:#008000"></i>
            </a><br>
             </font>
            </p>
          </div>
        </div>
      </div>
    </div>
      </div>


	  </div> 
	  
        </div>
      </div>
    </div> 
    <div id="addgodownpopup">
    </div>

    <!--  for adding stock to existing Product-->
    
    <div id="addstockmodal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
	<div class="modal-content">
          <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-title">
	      {% trans %}Add stock to existing product{% endtrans %} :
            </div>
          </div>
          <div class="modal-body" id="gststkmodal" >
	  </div>
	  </div>
	</div>
      </div>

      <!-- #end of adding stock# -->

    <div id="CatModal"  tabindex="-1" class="modal fade " role="dialog"style="width:650px; margin-top: 50px; margin-left:300px;"  aria-hidden="true">
  <div class="modal-dialog bgcolor " >
    <div class="modal-content ">
      <div class="modal-header">
        {% trans %}<strong>Help!</strong>{% endtrans %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button> </div>
      <div class="modal-body" style="text-align: justify; text-justify: inter-word;">

        <p>   <font color=" #566573"> {%trans%}
	  
	  This module is for creating Products and Services. </br>
	  First, we have to decide whether we wish to create a Product or a Service.</br>
	  For Product, we have to provide Product Name, HSN Code, Unit of Measurement and Tax. Note that you can choose a Unit of measurement previously created or create one. We can have products under categories. To use this feature create categories and then while creating products we can choose a category they will belong to. When you select a Category the screen immediately changes and presents you the specifications list where you can enter the details pertaning to the product.</br>
	  Products can have opening stock. If inventory is enabled for this organisation and we have godowns we can add them using a popup which can be activated by clicking Add Godown button. Godowns can also be added using the Create Godown Module.</br>
	  For Service, we must provide Service Name, SAC and Tax.


	  
		 {%endtrans %} </font>

        </p>
        <p id="showonlygodown" hidden> <font color=" #566573"> {%trans%}

            We can add godown wise opening stock for products by clicking Add Stock button.</br>
            First, we have to choose a godown from the dropdown.<br>
            Then, choose a product from the dropdown list in the table and enter opening stock in the input field in the same row. This dropdown only lists those products which are not associated with the selected godown. To add stock of another product, make a new row by pressing 'Enter' key from the opening stock field.
            {%endtrans %} </font>
        </p>

      </div>

    </div>
  </div>
    </div>
    {% if extrabuttons %}
      <input id="extrabuttons" value="1" hidden/>
    {% else %}
      <input id="extrabuttons" value="0" hidden/>
    {% endif %}
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/addproduct.js')}}"></script>
</body>

