
<html>
  <head>
    <meta charset="utf-8">
    <title>GNUKhata</title>
    <style>
     @page {
	 size: 21cm 29.7cm;
	 margin: 10mm 3mm 15mm 10mm; /* change the margins as you want them to be. */
     }
     td {
	 font-size: 65%;
	 padding: 2px !important;
	 margin:  0 !important;
     }
     body {
	 background-image: none;
     }
     th {
	 font-size: 75%;
	 padding: 3px !important;
	 margin:  0 !important;
     }
     table { page-break-inside:auto }
     tr    { page-break-inside:avoid; page-break-after:auto }
     thead { display: table-header-group; }
     tfoot { display: table-footer-group; }
     .borderdiv {
	 border-left-style:solid;
	 border-width: 1px;
     }
     .nopadding {
	 padding: 0 !important;
	 margin: 0 !important;
     }
     div {
	 font-size:95%;
     }
     .hborderdiv {
	 border-top-style:solid;
	 padding-top: 10px;
	 border-width: 1px;
     }
    </style>
  </head>
  <body>
	<input type="hidden" id="invid" value="{{ invid }}">
    <div class="container-fluid">
		
			<ul class="nav nav-pills nav-tabs hidden-print" role="tablist">
        <li role="presentation" class="active"><a href="#printinvoice1" aria-controls="printinvoice1" role="tab" data-toggle="tab" accesskey="1">

        {% trans %}1{% endtrans %}
        </a></li>
        <li role="presentation"><a href="#printinvoice2" aria-controls="printinvoice2" role="tab" data-toggle="tab" accesskey="2">
        {% trans %}2{% endtrans %}
        </a></li>
				<li role="presentation"><a href="#printinvoice3" aria-controls="printinvoice3" role="tab" data-toggle="tab" accesskey="3">
        {% trans %}3{% endtrans %}
        </a></li>
        <li role="presentation"><a href="#printinvoice4" aria-controls="printinvoice4" role="tab" data-toggle="tab" accesskey="4">
        {% trans %}4{% endtrans %}
        </a></li>
        <li role="presentation"><a href="#printinvoice5" aria-controls="printinvoice5" role="tab" data-toggle="tab" accesskey="5">
          {% trans %}5{% endtrans %}
          </a></li>
    </ul>

		    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="printinvoice1"> </div>
      <div role="tabpanel" class="tab-pane" id="printinvoice2"> </div>
      <div role="tabpanel" class="tab-pane" id="printinvoice3"> </div>
      <div role="tabpanel" class="tab-pane" id="printinvoice4"> </div>
      <div role="tabpanel" class="tab-pane" id="printinvoice5"> </div>

    </div> 
   
	<div class="row">
	  <span style="margin:auto; display:table;">
	    <button type="button" class="btn btn-sm btn-danger hidden-print" id="invback" accesskey="a">{% trans %}B<u>a</u>ck{% endtrans %}</button>
      <button type="button" class="btn btn-sm btn-info hidden-print" id="invprint_origin" accesskey="o">{% trans %}Print <u>O</u>riginal{% endtrans %}</button>
      <button type="button" class="btn btn-sm btn-info hidden-print" id="invprint_duplicate" accesskey="d">{% trans %}Print <u>D</u>uplicate{% endtrans %}</button>
	    <button type="button" class="btn btn-sm btn-info hidden-print" id="invprint_triplicate" accesskey="t">{% trans %}Print <u>T</u>riplicate{% endtrans %}</button>
      
      
	  </span>
	</div> 
      </div>
			
      <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/printinvoice.js')}}"></script>
  </body>
</html>
